<div
    mat-button
    [matMenuTriggerFor]="boxes"
    class="controller-element"
    (menuOpened)="boxesDisplayed = true"
    (menuClosed)="boxesDisplayed = false">
    <span class="rule-label">rule: </span>
    <mat-form-field class="rule-label">
        <input
            matInput
            maxlength="3"
            [ngModel]="ruleString()"
            (ngModelChange)="onTextInputChanged($event)" />
    </mat-form-field>
    <fa-icon [icon]="faAngleLeft" class="angle" [class.active]="boxesDisplayed"></fa-icon>
</div>
<mat-menu #boxes="matMenu">
    <div class="dropdown" (click)="$event.stopPropagation()">
        @for (box of boxLabels; track $index) {
            <span class="checkbox-outer">
                <div class="checkbox-icons">
                    @for (icon of box; track $index) {
                        <span class="cell-icon" [class.active]="icon">{{ icon }}</span>
                    }
                </div>
                <div class="checkbox-icons">d</div>
                <mat-checkbox
                    id="{{ $index }}"
                    [ngModel]="ruleBoxStates()[$index]"
                    (change)="onBoxesChanged($event.checked, $index)">
                </mat-checkbox>
            </span>
        }
    </div>
</mat-menu>
<div #popupContainer></div>
