@import 'src/styles/controller/controller';
@import 'src/styles/global/colors';

.wrapper{
        margin: 0 15px 0 0;
        color: $fontDefault;
        display: flex;
}

.dropdown-element {
        padding: 0;
        border-right-color: $fontDefault;
        border-right: 1px;
        border-right-style: solid;
}

.dropdown-element.last {
        border-right-style: none;
}

.pointer {
        cursor:pointer;
}
