@import 'src/styles/controller/controller';
@import 'src/styles/global/colors';

.wrapper{
        margin: 0 15px 0 0;
        color: $fontDefault;
        display: flex;
}

.dropdown-element {
        padding: 0 5px 0 5px;
        border-right-color: $backgroundLight;
        border-right-style: solid;
        border-right-width: 2px;
        max-width: 100px;

}

.dropdown-element.last {
        border-right-style: none;
}

.pointer {
        cursor:pointer;
}
