<div class="wrapper">
        <!-- Checkboxes for rule input -->
        <div class="dropdown-element first">
                <app-rule-control></app-rule-control>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <!-- number of cells -->
        <div class="dropdown-element">
                <app-cells-control></app-cells-control>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <!-- Array mode -->
        <div class="dropdown-element">
                <app-edge-control></app-edge-control>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <!-- Initial State selection -->
        <div class="dropdown-element">
                <app-state-control></app-state-control>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <!-- speed -->
        <div class="dropdown-element last">
                <app-speed-control></app-speed-control>
        </div>
</div>
