<ul id="controller-menu" class="dropdown">
        <!-- Checkboxes for rule input -->
        <li class="dropdown-element">
                <app-rule-control></app-rule-control>
        </li>
        <!-- Initial State selection -->
        <li class="dropdown-element">
                <app-state-control></app-state-control>
        </li>
        <!-- number of cells -->
        <li class="dropdown-element">
                <app-cells-control></app-cells-control>
        </li>
        <!-- Array mode -->
        <li class="dropdown-element">
                <app-edge-control></app-edge-control>
        </li>
        <!-- speed -->
        <li class="dropdown-element last">
                <app-speed-control></app-speed-control>
        </li>
</ul>

