@import 'src/styles/controller/controller';
@import 'src/styles/global/colors';
@import 'src/styles/global/margins';
@import 'src/styles/global/typo';

.wrapper{
        margin: 10px 10px 10px 0px;
        color: $fontDefault;
        display: flex;
}

.dropdown-element {
        padding: $settingsUnitPaddingTop $settingsUnitPaddingSides 0;
        max-width: 200px;
}

.dropdown-element.last {
        border-right-style: none;
}

.dropdown-element.first {
        padding-left: 1px;
}

.pointer {
        cursor:pointer;
}

.mobile-divider {
        display: none;
}

@media only screen and (max-width: $breakpointMobile) {
        .dropdownelement {
                display: block;
        }
        .wrapper {
                display: inline-block;
                margin-top: 0px;
                background: white;
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                border-radius: 5px;
                width: 97%;
        }
        .dropdown-element {
                margin: 10px;
        }
        .mobile-divider {
                display: block;
        }

}
