/* /// WIDGET FORMATTING /// */
.widget-container {
       position: relative;
       width: 100%;
       height: 100%;
       text-align: center;
       cursor: pointer;
       font-size: 16px;
}

/* accesses the element that the component is hosted in
 * (<app-widget> in this case)
 */
 :host {
        border-radius: 4px;
        background-color: white;
        box-shadow: 3px 3px 5px rgb(148, 148, 148);
}

/*//// OVERLAY INTERFACE: LAYOUT & DISPLAY SETTINGS ////*/

/* Play Button */
.favicon-outer {
        width: 100%;
        padding-top: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
}
.run-pause {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -40%);
        font-size: 60px;
        visibility: hidden;
        opacity: 0;
        cursor: pointer;
        color: gray;
        transition: color 0.2s;
}

.run-pause:hover {
        color: rgb(100, 100, 100);
        transition: color 0.2s;
}

.widget-container:hover .run-pause.active {
        visibility: visible;
        opacity: 1;
        animation: fade 0.3s;
}

@keyframes fade {
        0% {
                opacity: 0; 
        }
        100% {
                opacity: .8;
        }
}

/*/// Top Bar ///*/
.remove {
        top: 6px;
        padding: 0 0 0 7px;
}

.fullscreen {
        display: block;
        top: 6px;
        padding: 0 7px 0 0;
        text-align: center;
        transform: translateX(-100%);
}

.right-align {
        float: right;
}

.left-align {
        float: left;
}

.label {
        text-align: center;
        width: 100%;
        position: absolute;
        top: 6px;
}

/* All buttons */
.btn {
        position: absolute;
        font-size: inherit;
        cursor: pointer;
}

.btn:hover, 
.btn:active {
        font-size: 103%;
        transition: font-size 0.1s ease-in;
}

.overlay {
        position: absolute;
        top: -0.2%;
        left: 0;
        bottom: 0;
        right: 0;
        height: 30px;
        width: 100%;
        background-color: rgb(60, 60, 60);
        opacity: 0;
        transition: .5s ease;
        border-radius: inherit;
}

/* Fade-in Functionality */
.widget-container:hover .overlay {
        opacity: .8;
}

.fade-in {
        opacity: 0;
        color: white;
}

.widget-container:hover .fade-in, .run-pause {
        opacity: 1;
}
