.widget-container {
        display: inline;
        grid-column: 3;
        box-shadow: 5px;
        box-shadow: darkgray;
}

.btn {
        display: inline;
}

/* accesses the element that the component is hosted in
 * (<app-widget> in this case)
 */
:host {
        display: inline-table;
        width: 300px;
        margin: 0px;
}