<div class="widget-container" #fullscreen (document:webkitfullscreenchange)="this.sizeService.fullscreenActive = !this.sizeService.fullscreenActive;" (click)= "this.automaton.toggleLoop()">
        <div #entry></div>
        <div class="favicon-outer">
                        <fa-icon [icon]="faPlayCircle" class=" run-pause" [class.active]="!this.automaton.isRunning" matTooltip="run automaton">run/ pause</fa-icon>
        </div>
        <div class="overlay" [class.active]= "this.automaton.isRunning"></div>
        <div class="label fade-in">{{_title}}</div>
        <fa-icon [icon]="faTimes" (click)="remove()" class="btn remove fade-in"></fa-icon>
        <div>
                <fa-icon [icon]="faExpand" (click)="toggleFullscreen()" class="btn fullscreen fade-in"></fa-icon>
        </div>
</div>

