@import 'src/styles/global/mixins';
@import 'src/styles/global/colors';
@import '../tutorial-animation-mixins.scss';

$largeCellSize: 100px;

.cell-wrapper {
        display: inline-block;
        width: 100%;
        height: 60%;
        position: relative;
        text-align: center;
}

.cell.large {
        display: inline-block;
        position: relative;
        top: 50%;
        @include roundShape(black);
        width: $largeCellSize;
        height: $largeCellSize;
        animation: state-switch 1.5s ease-out 0.5s infinite alternate forwards;
}