
<div mat-button [matMenuTriggerFor]="boxes" class="settings-unit" (menuOpened)="setIcon(true)" (menuClosed)="setIcon(false)">
        <div class="rule-label">
                <span>rule: </span>
        </div>

        <mat-form-field class="rule-label">
                <input matInput maxlength="3" [(ngModel)]="decimal" (input)="updateDecimal()" class="textinput">
        </mat-form-field>
        <span>
                <fa-icon [icon]="faAngleLeft" class="angle" [class.active]="_boxesDisplayed">    
                </fa-icon>
        </span>
</div>
<mat-menu #boxes="matMenu" class="test">
        <!-- The checkboxes-input -->
        <div class="dropdown" (click)="$event.stopPropagation()">
                <span *ngFor="let box of BOXES" class="checkbox-outer">
                        <div class="checkbox-wrapper icons">
                                <span *ngFor="let icon of box.iconValues" class="cell-icon" [class.active]="icon">{{icon}}</span>
                        </div>
                        <div class ="checkbox-wrapper icons">
                                <span>d</span>
                        </div>
                        <div class="checkbox-wrapper">
                                <mat-checkbox 
                                        id="{{box.id}}"
                                        value="{{box.index}}"
                                        [(ngModel)]="automaton.ruleset[box.index]"
                                        (change)="updateRule(box.index, !this.automaton.ruleset[box.index])"
                                ></mat-checkbox>
                        </div>
                </span>
        </div>
</mat-menu>

<div #popupContainer class="popup"></div>