@import 'src/styles/global/mixins';
@import 'src/styles/global/colors';
@import '../tutorial-animation-mixins.scss';
@import 'src/styles/global/margins';
@import 'src/styles/global/limits';

.cell{
        @include roundShape(black);
        width: $smallCellSizeMobile;
        height: $smallCellSizeMobile;
        margin: .5%;
        display: inline-flex;
        border-width: $cellBorder;
}

.multiple-cells-wrapper {
        text-align: center;
        width: 100%;
        @include absolute-centered();
}


.upper.container {
        position: relative;
        width: 100%;
}

@media only screen and (min-width: $breakpointMobile) {
        .cell {
                width: $smallCellSizeDesktop;
                height: $smallCellSizeDesktop;
        }
}