@use '../../../../styles/global/colors';
@use '../tutorial-animation-mixins.scss' as animation;
@use '../../../../styles/global/limits';

:host {
    @include animation.tutorialStepContent();
}

.graphics-container {
    @include animation.graphicsContent();
}

.cell {
    @include animation.roundShape(black);
    width: animation.$smallCellSizeDesktop;
    height: animation.$smallCellSizeDesktop;
    margin: 4px;
    display: inline-flex;
    border-width: animation.$cellBorder;
}

.multiple-cells-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

@media only screen and (max-width: limits.$breakpointSmallAnimations) {
    .cell {
        width: animation.$smallCellSizeMobile;
        height: animation.$smallCellSizeMobile;
        margin: 3px;
    }
}
