<div class="graphics-container">
    <div class="multiple-cells-wrapper">
        @if (activeDescription() === 0) {
            @for (cell of cells; track $index) {
                <div
                    class="cell"
                    [@changeState]="cell.state"
                    (@changeState.done)="toggleState($index)"></div>
            }
        } @else {
            @for (cell of cells; track $index) {
                <div
                    class="cell"
                    [style.background]="cell.state === 'active' ? 'black' : 'white'"></div>
            }
        }
    </div>
</div>
