@import 'src/styles/global/colors';
@import '../tutorial-animation-mixins.scss';
@import 'src/styles/global/limits';

:host {
    @include tutorialStepContent();
}

.graphics-container {
    @include graphicsContent();
}

.cell {
    @include roundShape(black);
    width: $smallCellSizeDesktop;
    height: $smallCellSizeDesktop;
    margin: 4px;
    display: inline-flex;
    border-width: $cellBorder;
}

.multiple-cells-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.tutorialText {
    @include tutorialText();
}

@media only screen and (max-width: $breakpointSmallAnimations) {
    .cell {
        width: $smallCellSizeMobile;
        height: $smallCellSizeMobile;
        margin: 3px;
    }
}
