$accent: #4DB6AC;
$highlight: #64FFDA;
$highlight-dark: #00695C;
$background: rgb(30, 30, 30);
$backgroundLight: rgba(155, 155, 155, .8);

// Fonts and icons
$fontDefault: rgb(30, 30, 30);
$fontLight: rgb(155, 155, 155);
$fontNegative: white;

//overlays
$overlay: rgba(0, 0, 0, .5);