$breakpointMobile: 480px;
$breakpointLargeDesktop: 770px;
$breakpointSmallMenu: 660px;
$breakpointSmallAnimations: 580px;

$maxContentWidth: 1024px;

$minMenuWidth: 350px;

$minCanvasWidth: $minMenuWidth;
$minCanvasHeight: $minCanvasWidth;

$controllerHeight: 140px;
$controllerHeightMobile: 330px;
