$globalMargin: 30px;
$globalMarginMobile: .75rem;
$globalTop: 7px;
$global_buttonMargin: 5px;
$global_buttonMarginMobile: 2px;
$globalCornerRadius: 5px;

// Controller
$toprowHeight: 43px;

$controllerHeight: 140px;
$controllerHeightMobile: 300px;

$sectionGap: 50px;
$sectionGapMobile: 35px;
$headerMenuItemHeight: 25px;