$globalMargin: 30px;
$globalMarginMobile: .75rem;
$globalTop: 20px;
$secondaryMargin: 10%;
$buttonMargin: 5px;
$buttonMarginMobile: 2px;
$globalCornerRadius: 4px;

// screen widths
$maxWindowWidth: 1024px;
$maxTextWidth: 1024px;

// Controller
$settingsUnitPaddingTop: 5px;
$settingsUnitPaddingSides: 10px;
$controllerHeight: 100px;
$controllerHeightMobile: 300px;
$toprowHeight: 30px;
$topbarTotalHeight: $controllerHeight + $toprowHeight;
$iconButtonWidth: 50px;
$topbarButtonHeight: 30px;
$controllerOffset: 21px;
$matSliderOffset: - (31 - $settingsUnitPaddingTop) / 2;

// widgetArea
$widgetAreaMinHeight: 200px;

//menu
$plusButtonSize: 27px;
$selectMenuActiveHeight: 400px;
$selectMenuActiveHeightMobile: 300px;
$selectMenuMaxWidth: 860px;
$plusButtonMargin: 2.5vh;
$plusButtonPadding: 10px;
$menuInnerHeightMax: 300px;
$selectionTileMargin: 2px;
$matCardMaxWidth: 150px;

//homepage
$sectionGap: 50px;
$sectionGapMobile: 35px;
$headerMenuItemHeight: 25px;
$borderWidth: 2px;

//breakpoints
$breakpointMobile: 420px;