@mixin overlay($background) {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        height: inherit;
        background: $background;
}

@mixin centerByTranslationX() {
        display: inline-block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
}

@mixin roundShape($color) {
        border-style: solid;
        border-color: $color;
        border-radius: 50%;
        border-width: 1.5px;
}
