$default: 15px;
$topbarFontWeight: 500;
$topbarHoverFontWeight: 700;
$iconSize: 36px;
$h1: 36px;
$h2: 30px;
$menuItemsFontSize: 15px;
$homepageLinks: 20px;
$homepageText: 15px;
$menuItemsLineHeight: 15px;

