@import 'src/styles/global/margins';

$default: 15px;
$mainDesktop: 18px;
$defaultMobile: 18px;
$program: 16px;
$topbarFontWeight: 500;
$topbarHoverFontWeight: 700;
$iconSize: 36px;
$h1: 36px;
$h1mobile: 22px;
$h2: 30px;
$h2mobile: 22px;
$menuItemsFontSize: 15px;
$homepageLinks: 20px;
$homepageLinksMobile: 22px;
$menuItemsLineHeight: 15px;

h1 {
        font-size: $h1;
        margin-top: $sectionGap;
}

@media only screen and (max-width: $breakpointMobile) {
        h1 {
                font-size: $h1mobile;
                margin-top: $sectionGapMobile;
        }
        
        h2 {
                font-size: $h2mobile;
        }
}

