@use '@angular/material' as mat;
@import 'src/styles/global/margins';

// custom typography settings

$custom-typography: mat.define-typography-config(
        $font-family: 'Nunito Sans'
);

@include mat.all-component-typographies($custom-typography);

// Material Design Overrides
/* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version.*/
.mat-mdc-slider.mat-slider-horizontal {
        min-width: 80px;
        padding: 0;
}

.mat-mdc-slider {
        height: 100%;
        top: $matSliderOffset;
}

.mat-mdc-menu-panel.ng-trigger.ng-trigger-transformMenu {
        max-width: 430px;
        position: relative;
        top: $buttonMargin;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
.mat-form-field-appearance-legacy .mat-form-field-infix {
        border-top: none;
        padding: 0.3em 0;
}

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version.*/
.mat-select-trigger {
        width: 140px;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
.mat-form-field-appearance-legacy .mat-form-field-wrapper {
        padding-bottom: 0;
}
/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
.mat-form-field-appearance-legacy .mat-form-field-underline {
        position: static;
}

.mat-mdc-slide-toggle {
        position: relative;
        bottom: 3px;
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
.mat-button-wrapper {
        font-family: 'Nunito Sans'
}

.mat-mdc-button {
        font-family: 'Nunito Sans'
}



