.mat-slider.mat-slider-horizontal {
        min-width: 80px;
        padding: 0;
}

.mat-slider {
        height: 100%;
}

.mat-menu-panel.ng-trigger.ng-trigger-transformMenu {
        max-width: 430px;
}

.mat-form-field-infix {
        border-top: none;
}

.mat-select-trigger {
        max-width: 140px;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
        padding-bottom: 0;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
        position: static;
}


