@use '@angular/material' as mat;
@include mat.core();

// $app-color: mat-palette($palette, $default, $lighter, $darker)
$zellmemore-primary: mat.define-palette(mat.$teal-palette);
$zellmemore-accent: mat.define-palette(mat.$teal-palette, 300, A200, 800);
$zellmemore-warn: mat.define-palette(mat.$red-palette);

// mat-light-theme: all 'neutral' colors are white, light greys and a little black
$zellmemore-theme: mat.define-light-theme($zellmemore-primary, $zellmemore-accent, $zellmemore-warn);

@include mat.all-component-themes($zellmemore-theme);