@use '@angular/material' as mat;
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-typography-config());`
@import 'src/styles/global/margins';
@include mat.all-component-typographies();
@include mat.core();

// $app-color: mat-palette($palette, $default, $lighter, $darker)
$zellmemore-primary: mat.m2-define-palette(mat.$m2-teal-palette);
$zellmemore-accent: mat.m2-define-palette(mat.$m2-teal-palette, 300, A200, 800);
$zellmemore-warn: mat.m2-define-palette(mat.$m2-red-palette);

// mat-light-theme: all 'neutral' colors are white, light greys and a little black
$zellmemore-theme: mat.m2-define-light-theme($zellmemore-primary, $zellmemore-accent, $zellmemore-warn);

$custom-typography: mat.m2-define-typography-config(
        $font-family: 'Nunito Sans'
);

@include mat.all-component-typographies($custom-typography);
@include mat.all-component-themes($zellmemore-theme);

.mat-mdc-menu-panel.ng-trigger.ng-trigger-transformMenu {
    max-width: 500px;
    position: relative;
    top: $buttonMargin;
}
