<div>
  Zellmemore originated from Franziska Schneider's Bachelor thesis with the intent to make the concept of making the concept of cellular automata explorable and accessible by finding new visual representations for them.
  Many of the visualization were created with <a href="https://p5js.org" class="link">p5.js</a>, an open source Javascript library for creating graphics and interactive content.

  If you are further interested:
</div>
<div class="links-wrapper">
        <div class="link">
                <a href="http://zellmemore.de/zellmemore.pdf" target="_blank">Read the documentation (in German)</a>
        </div>
        <div class="link">
                <a>Visit the original Website</a>
        </div>
        <div class="link">
                <a>Visit Zellmemore on Github</a>
        </div>
</div>

