<div class="controls">
        <div 
                *ngFor="let step of steps; let i = index"
                class="step-marker-outer">
                <div 
                        *ngIf="step.active === true"
                        class="step-marker" 
                        [class.active]="_activeStep === (i + 1)"
                        (click)="goToStep(i + 1)"
                        matRipple
                        [matRippleCentered]="true"
                        [matRippleUnbounded]="true"
                        [@slideInDescription]>
                </div> 
        </div>
</div>