@import 'src/styles/global/colors';
@import 'src/styles/global/margins';

.container {
        display: block;
        padding-top: 7px;
        padding-bottom: 7px;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
}

.link {
        color: $fontLight;
        margin: 0 10px $buttonMargin 0;
}

