@import 'src/styles/global/colors';
@import 'src/styles/global/margins';

.container {
        display: block;
        padding: 5px $globalMargin;
}

.link {
        color: $fontLight;
        margin: 0 10px $buttonMargin 0;
}
