<h1 class="headline">Add a widget:</h1>
<div class="container blur">

        <div class="container-inner">
                <mat-card *ngFor="let option of visualizations"  class="mat-card">
                        <mat-card-header>
                                <mat-card-title>{{option.name}}</mat-card-title>
                        </mat-card-header>
                        <div mat-card-image class="image-container">
                                <span class="overlay">
                                        <button mat-icon-button color="accent" class="btn" (click)="selectVisualizationToDisplay(option.id)">
                                                <fa-icon [icon]="faPlusCircle" class="icon"></fa-icon>
                                        </button>               
                                </span>
                                <img  class="thumbnail" src="{{option.thumbnail}}">
                        </div>
                </mat-card>
        </div>
</div>