@import 'src/styles/global/colors';
@import 'src/styles/global/margins';
@import 'src/styles/global/typo';

$selectionFrameMaxWidth: 860px;
$selectionPaddingDesktop: 20px;

.selection-frame {
        display : block;
        max-width: $selectionFrameMaxWidth;
        overflow: scroll;
        background-color: rgb(255, 255, 255);
        padding: $selectionPaddingDesktop;
        border-radius: 5px;
}

h2 {
        margin-bottom: 20px;
}