@import 'src/styles/global/margins';

.container {
        display: block;
        max-height: $menuInnerHeightMax;
        overflow: scroll;
}

.container-inner {
        text-align: center;
}

.selection-tile {
        display:inline-block;
}

.headline {
        margin-top: 30px;
}