@import 'src/styles/global/colors';
@import 'src/styles/controller/controller';
@import 'src/styles/global/margins';
@import 'src/styles/global/typo';



.toprow-wrapper {
        height: $toprowHeight;
        vertical-align: top;
        font-weight: $topbarFontWeight;
        margin-bottom: 7px;
}
/* // BUTTONS // */
.btn.button-wrapper {
        display: inline-block;
        font-family: 'Nunito Sans';
        font-size: $program;
}

.settings {
        font-size: $program;
}

.play-button {
        font-size: $program;
}

.icon {
        color: $fontDefault;
        display: inline-block;
        font-size: $program;
}

.icon.play {
        display: none;
}

.icon.play.active {
        display: inline-block;
}

.icon.pause {
        display: none;
}

.icon.pause.active {
        display: inline-block;
}

.icon.reset {
        display: inline-block;
        transform: rotate(0deg);
        transition: transform 0.2s ease-out;
        display: inline-block;
}

.reset-animated:hover .icon.reset,
.icon.reset:active {
        transform:rotate(-45deg);
        transition: transform 0.3s ease-out;
}

.icon.settings {
        display:inline-block;
        transform: rotate(0deg);
        transition: all 0.2s ease-out;
        margin-left: 2px;
}

.icon.settings.active {
        transform: rotate(-90deg);
        transition: transform 0.2s ease-out
}

.icon.settings-label {
        display: block;
        font-weight: $topbarFontWeight;
}

/* //STATS// */

.stats {
        display: inline-block;
        margin: 0;
        padding: 5px;
        text-align: center;
}

/* //DROPDOWN// */

.controller-wrapper {
        height: $controllerHeight;
        font-weight: $topbarFontWeight;
}

.controller {
        display: inline-block;
        max-height: 0;
        overflow: hidden;
        position: relative;
        left: $controllerOffset;
        z-index: 1;
}

.controller.active {
        display: inline-block;
        max-height: $controllerHeight;
        transition: max-height 0.2s ease-out;
}