<div class="step-element">
        <div class="graphics-container">
                <div class="multiple-cells-wrapper">
                        <div class="connector" *ngIf="_activeSlide >= 2" [class.animated]="_activeSlide >= 2"></div>
                        <div class="connector-circular-container" *ngIf="_activeSlide === 3">
                                        <svg id="connector02" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 760 76"><path class="connector-circular" d="M642,13h96a38.11,38.11,0,0,1,38,38h0a38.11,38.11,0,0,1-38,38H54A38.11,38.11,0,0,1,16,51h0A38.11,38.11,0,0,1,54,13h71" transform="translate(-16 -13)"/></svg>
                        </div>
                        <div class="edges01" *ngIf="_activeSlide === 1 || _activeSlide === 0">
                                <fa-icon [icon]="icon"></fa-icon>
                                ...  
                        </div>
                        <div class="cell edges" *ngIf="_activeSlide === 2" [@slideInOut]></div>
                        <div class="cell" *ngIf="_activeSlide === 3" [@slideInOut] [@changeState]="edges[0].state" (@changeState.done)="toggleEdges(0)"></div>
                        <div 
                                *ngFor="let cell of cells; let i = index"
                                class="cell"
                                [@changeState]="cell.state"
                                (@changeState.done)="toggleState(i)"
                        ></div>
                        <div class="edges01" *ngIf="_activeSlide === 0 || _activeSlide === 1" >
                                ... <fa-icon [icon]=icon></fa-icon>
                        </div>
                        <div class="cell edges" *ngIf="_activeSlide === 2" [@slideInOut]></div>
                        <div class="cell" *ngIf="_activeSlide === 3" [@slideInOut] [@changeState]="edges[1].state" (@changeState.done)="toggleEdges(1)"></div>
                </div>
        </div>
        <div class="description" [@slideInDescription]="_activeSlide">{{descriptions[_activeSlide]}}</div>
</div>
