@import 'src/styles/global/mixins';
@import 'src/styles/global/colors';
@import '../tutorial-animation-mixins.scss';

.cell{
        @include roundShape(black);
        width: 1rem;
        height: 1rem;
        margin: .5%;
        display: inline-flex;
}

.multiple-cells-wrapper {
        text-align: center;
        width: 100%;
        position: absolute;
        @include absolute-centered();
}

.graphics-container {
        position: relative;
        height: 60%;
}