@import 'src/styles/global/mixins';
@import 'src/styles/global/colors';
@import '../tutorial-animation-mixins.scss';
@import 'src/styles/global/margins';

$strokeWidth: 4px;

.cell{
        @include roundShape(black);
        width: $smallCellSizeMobile;
        height: $smallCellSizeMobile;
        margin: .2rem;
        display: inline-flex;
}

.multiple-cells-wrapper {
        text-align: center;
        width: 100%;
        position: absolute;
        @include absolute-centered();
}

.graphics-container {
        position: relative;
        height: 60%;
}

.edges01 {
        display: inline-block;
        color: $accent;
        font-size: 18px;
        margin-left: 5px;
        margin-right: 5px;
}

.cell.edges {
        background: $accent;
        border-color: $accent;
}


.connector {
        width: 0%;
        @include absolute-centered;
        height: $strokeWidth;
        border-radius: 2px;
        background: $accent;
        z-index: -2;
}

.connector.animated {
        animation: expand-line 0.5s ease-out forwards;
}

/// cicular connector;

.connector-circular-container {
        width: 90%;
        position: absolute;
        display: inline-block;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -2%);
        z-index: -3;
}

.connector-circular {
        fill: none;
        stroke: $accent;
        stroke-width: 6px;
        stroke-dasharray: 1200px;
        animation: dash 1s ease-in-out;
}

#connector02 {
        overflow: visible;
}

@keyframes expand-line {
        from {width: 0%;}
        to {width: 77%;}
}

@keyframes expand-border {
        0% {border-width: 1.5px}
        50%{border-width: 5px}
        100% {border-width: 1.5px}
}

@keyframes dash {
        from {stroke-dashoffset: 1200px;}
        to {stroke-dashoffset: 0px;}
}

@media only screen and (min-width: $breakpointMobile) {
        .cell {
                width: $smallCellSizeDesktop;
                height: $smallCellSizeDesktop;
        }

        .cell-edge-container {
                position: relative;
                width: $smallCellSizeDesktop;
                height: $smallCellSizeDesktop;
        }
}

