<div id="speed-controller" class="settings-unit">
        <span matTooltip="generations per second" class="tag">
                {{this.automaton.fps}} fps 
        </span>
<!--         <div class="slider-wrapper"> -->
                <mat-slider
                        class="range"
                        [min]="_speedMin"
                        [max]="_speedMax"
                        [(ngModel)]="this.automaton.fps"><input matSliderThumb />
                </mat-slider>
<!--         </div> -->
</div>