@import 'src/styles/global/colors';
@import '../tutorial-animation-mixins.scss';

$strokeWidth: 4px;

:host {
    @include tutorialStepContent();
}

.graphics-container {
    @include graphicsContent();
}

.cell {
    @include roundShape(black);
    width: $smallCellSizeMobile;
    height: $smallCellSizeMobile;
    margin: 3px;
    display: inline-flex;
    z-index: 2;

    &.edges {
        background: $accent;
        border-color: $accent;
    }
}

.cell-row-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.edge-illustration {
    align-content: center;
    color: $accent;
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
}

.connector {
    width: 0%;
    @include absolute-centered();
    height: $strokeWidth;
    border-radius: 2px;
    background: $accent;
    z-index: 0;
    &.animated {
        animation: expand-line 0.5s ease-out forwards;
    }
}

.connector-circular-container {
    width: 90%;
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -2%);
    z-index: 0;
}

.connector-circular {
    fill: none;
    stroke: $accent;
    stroke-width: 6px;
    stroke-dasharray: 1200px;
    animation: dash 1s ease-in-out;
}

.tutorialText {
    @include tutorialText();
}

#connector02 {
    overflow: visible;
}

@keyframes expand-line {
    from {
        width: 0%;
    }
    to {
        width: 77%;
    }
}

@keyframes expand-border {
    0% {
        border-width: 1.5px;
    }
    50% {
        border-width: 5px;
    }
    100% {
        border-width: 1.5px;
    }
}

@keyframes dash {
    from {
        stroke-dashoffset: 1200px;
    }
    to {
        stroke-dashoffset: 0px;
    }
}

@media only screen and (min-width: $breakpointLargeDesktop) {
    .cell {
        width: $smallCellSizeDesktop;
        height: $smallCellSizeDesktop;
        margin: 4px;
    }

    .cell-edge-container {
        position: relative;
        width: $smallCellSizeDesktop;
        height: $smallCellSizeDesktop;
    }
}
