<div class="graphics-container">
    <div class="cell-row-wrapper">
        @if (activeDescription() > 1) {
            <div class="connector animated"></div>
        }
        <ng-container *ngTemplateOutlet="edgeBehavior"></ng-container>
        @for (cell of cells; track $index) {
            <div
                class="cell"
                [@changeState]="cell.state"
                (@changeState.done)="toggleState($index)"></div>
        }
        <ng-container *ngTemplateOutlet="edgeBehavior"></ng-container>
    </div>
</div>

<ng-template #edgeBehavior>
    @switch (activeDescription()) {
        @case (2) {
            <div class="cell edges" [@slideInOut]></div>
        }
        @case (3) {
            <div
                class="cell"
                [@slideInOut]
                [@changeState]="edges[1].state"
                (@changeState.done)="toggleEdges(1)"></div>
            <div class="connector-circular-container">
                <svg
                    id="connector02"
                    data-name="Ebene 1"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 760 76">
                    <path
                        class="connector-circular"
                        d="M642,13h96a38.11,38.11,0,0,1,38,38h0a38.11,38.11,0,0,1-38,38H54A38.11,38.11,0,0,1,16,51h0A38.11,38.11,0,0,1,54,13h71"
                        transform="translate(-16 -13)" />
                </svg>
            </div>
        }
        @default {
            <div class="edge-illustration">... <fa-icon [icon]="icon"></fa-icon></div>
        }
    }
</ng-template>
