@use '../../styles/global/typo';
@use '../../styles/global/limits';

.controller {
    display: inline-block;
    max-height: 0;
    transition: max-height 0.2s;
    overflow: hidden;
    z-index: 1;
    font-weight: typo.$topbarFontWeight;

    &.active {
        max-height: limits.$controllerHeight;
        transition: max-height 0.2s ease-out;
    }
}

@media only screen and (max-width: limits.$breakpointSmallMenu) {
    .controller {
        width: 100%;
        max-height: 0;
        &.active {
            max-height: limits.$controllerHeightMobile;
            max-width: 100%;
        }
    }
}
