@import 'src/styles/global/typo';

.controller-element {
    display: flex;
    text-align: center;
    align-items: center;
}

.mat-element {
    --mat-switch-label-text-size: $fontsize_default;
    --mat-switch-label-text-weight: $fontweight_default;
    --mat-switch-label-text-tracking: 0px;

    --mat-select-trigger-text-weight: $fontweight_default;
    --mat-select-trigger-text-size: $fontsize_default;
    --mat-select-trigger-text-tracking: 0;
    --mat-option-label-text-tracking: 0;
}
