<div class="graphics-container">
    <div class="container-inner">
        @for (trio of trios; track trio.id) {
            <div class="trio">
                <div class="trio-label">{{ trio.id }}</div>
                <div class="cell-trio-container">
                    <div
                        class="cell"
                        [style.background]="trio.left === 1 ? 'black' : 'white'"></div>
                    <div
                        class="cell"
                        [style.background]="trio.middle === 1 ? 'black' : 'white'"
                        [class.animated-middle]="activeDescription() === 1"></div>
                    <div
                        class="cell"
                        [style.background]="trio.right === 1 ? 'black' : 'white'"></div>
                </div>
                <div class="arrow" [class.animated]="activeDescription() === 1"></div>
                @if (activeDescription() === 1) {
                    <div class="trio target" [@dropdownCell]>
                        <div class="background cell target animated"></div>
                        <div class="cell target"></div>
                        <div class="foreground cell target animated">?</div>
                    </div>
                }
            </div>
        }
    </div>
</div>
<div class="tutorialText" [@slideInDescription]="activeDescription()">
    {{ descriptions[activeDescription()] }}
</div>
