@import 'src/styles/global/colors';
@import '../tutorial-animation-mixins.scss';

$largeCellSize: 100px;

:host {
    @include tutorialStepContent();
}

.cell {
    @include roundShape(black);
    width: $largeCellSize;
    height: $largeCellSize;
    margin-top: auto;
    &.animated {
        animation: state-switch 1.5s ease-out 0.2s infinite alternate forwards;
    }
}

.tutorialText {
    @include tutorialText();
}
