@use '../../../../styles/global/colors';
@use '../tutorial-animation-mixins.scss' as animation;

$largeCellSize: 100px;

:host {
    @include animation.tutorialStepContent();
}

.cell {
    @include animation.roundShape(black);
    width: $largeCellSize;
    height: $largeCellSize;
    margin-top: auto;
    &.animated {
        animation: state-switch 1.5s ease-out 0.2s infinite alternate forwards;
    }
}
