.dropdown {
        margin: 0 0 0 2.5px;
        padding: 4px 15px 4px 20px;
        background-color: rgb(30, 30, 30);
        color: white;
        list-style: none;
        font-size: 14px;
        font-weight: 100;
}

.dropdown-element {
        padding: 10px 0px 10px 0px;
        border-bottom-color: white;
        border-bottom: 1px;
        border-bottom-style: solid;
}

.dropdown-element.last {
        border-bottom-style: none;
}

.flex {
        display: flex;
}

.pointer {
        cursor:pointer;
}

.pointer.range {
        margin: 0 10px 0 10px;
}

.highlighted {
        font-weight: 500;
        display: inline-block;
        cursor: default;
}

.settings-unit {
        display: inline-block;
}

.settings-unit.textinput {
        box-sizing: content-box;
        background: none;
        color: white;
        border-style: none;
        max-width: 40px;
        margin: 0;
}

.settings-unit.checkbox-outer {
        text-align: center;
        margin: 0px 7px 0px 7px;
}

.checkbox-inner {
        display: block;
}

.checkbox-inner.icons {
        font-family: 'binary-marbles';
        font-stretch: expanded;
        font-size: 12px;
}