
<ul id="controller-menu" class="dropdown">
        <!-- Checkboxes for rule input -->
        <li class="dropdown-element">
                <div class="flex">
                        <div>
                                <span>rule: </span>
                        </div>
                        <input [(ngModel)]="decimal" (input)="this.updateDecimal()">
                        <span *ngFor="let box of BOXES" class="checkbox-outer">
                                <div class="label">{{box.id}}</div>
                                <div >
                                        <input type="checkbox" id="{{box.id}}" value="{{box.value}}" [(checked)]="this.automaton.ruleset[box.value]" (change)="this.updateRule(box.value, !this.automaton.ruleset[box.value])" class="pointer">
                                </div>
                        </span>
                </div>
        </li>
        <!-- Initial State selection -->
        <li class="dropdown-element">
                <div>
                        <span>initial state:</span>
                </div>
                <form [formGroup]="form">
                        <input type="radio" formControlName="state" value="0" class="pointer"> single cell
                        <input type="radio" formControlName="state" value="1" class="pointer"> random
                </form>
        </li>
        <!-- number of cells -->
        <li class="dropdown-element">
                <div>
                        <span>cell number:</span>
                </div>
                <div>
                        <span id="">
                                <input type="range" min="10" max="300" step="10" [(ngModel)]="slider" class="slider" id="cellnumber-slider" (change)="updateCellNumber(this.slider)" class="pointer">
                                <label for="cellnumber-slider" id="cellnumber-slider-label">{{this.slider}} cells</label>
                        </span>
                </div>
        </li>
        <!-- Array mode -->
        <li class="dropdown-element">
                <label for="array-toggle">circular cell array: </label>
                <div id ="array-toggle">
                                <label class="switch">
                                        <input type="checkbox" id="array-toggle" value="arraytoggled" [(checked)]="this.automaton.isCircular" (change)="this.toggle()">
                                        <span class="toggle-slider pointer"></span>
                                </label>
                                <label id="arraytogglelabel" class= "label">{{this.labeltext}}</label>
                </div>
        </li>
        <!-- speed -->
        <li class="dropdown-element">
                <label for="speed-controller">speed:</label>
                <div id="speed-controller">
                        <input type="range" min="1" max="30" step="1" [(ngModel)]="speed" (change)="this.automaton.fps = this.speed" class="pointer"> generations per second
                </div>
        </li>
</ul>
<div #popupContainer></div>

