@import 'src/styles/global/mixins';
@import 'src/styles/global/colors';
@import '../tutorial-animation-mixins.scss';
@import 'src/styles/global/margins';

$smallCellContainerSizeDesktop: $smallCellSizeDesktop + 4px;
$smallCellContainerSizeMobile: $smallCellSizeMobile + 4px;
$arrowSizeDesktop: 40px;
$arrowSizeMobile: 30px;

.graphics-container.upper {
        position:relative;
        width: 100%;
}

.container-inner {
        @include absolute-centered();
        width: 100%;
}

.cell {
        @include roundShape('black');
        display: inline-block;
        width: $smallCellSizeMobile;
        height: $smallCellSizeMobile;
        z-index: 10;
        position: relative;
}

.cell.target {
        background: white;
        @include absolute-centered();
}

.cell.animated-middle {
        transform: translateY(0%);
        animation: moveDown 0.3s ease-out forwards;
}

.foreground.cell.target {
        background: none;
        color: $accent;
        line-height: 100%;
        vertical-align: middle;
        border-style: none;
        font-weight: 600;
        opacity: 0;
}

.foreground.cell.target.animated {
        animation: fadeIn .3s ease-out .4s forwards;
}

.trio {
        display: inline-block;
        margin: 5px;
        margin-left: 7px;
        margin-right: 7px;
        position: relative;
}

.cell-trio-container {
        position: relative;
}

.trio-label {
        text-align: center;
        margin: 4px;
}

.trio.target {
        margin-top: $arrowSizeMobile;
        width: $smallCellContainerSizeMobile;
        height: $smallCellContainerSizeMobile;
        position: relative;
}

.invisible {
        display: inline-block;
        border-color: white;
}

.arrow {
        display: inline-block;
        border-radius: 3px;
        background: $accent;
        width: 4px;
        height: 0px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
}

.arrow.animated {
        animation: arrowDown .5s ease-in-out forwards;
}

.cell.target.background  {
        background: $accent;
        width: 0%;
        height: 0%;
        @include absolute-centered();
        border-style: none;
}

.cell.target.background.animated {
        animation: grow 0.5s ease-out 0.3s forwards;
}

@media only screen and (min-width: $breakpointMobile) {
        .cell {
                width: $smallCellSizeDesktop;
                height: $smallCellSizeDesktop;
        }
        .trio.target {
                width: $smallCellContainerSizeDesktop;
                height: $smallCellContainerSizeDesktop;
                margin-top: $arrowSizeDesktop;
        }
        .cell.target.background {
                width: 0%;
                height: 0%;
        }
}

@keyframes moveDown {
        from {transform: translateY(0%)}
        to {transform: translateY(50%)}
}

@keyframes arrowDown {
        0% {height: 0px; }
        100% {height: 40px; }
}

@keyframes grow {
        from {width: 0%; height: 0%}
        to {width: 120%; height: 120%}
}

@keyframes fadeIn {
        from {opacity: 0;}
        to {opacity: 1;}
}