@import 'src/styles/global/mixins';
@import 'src/styles/global/colors';
@import '../tutorial-animation-mixins.scss';
@import 'src/styles/global/margins';

.cell {
        @include roundShape('black');
        display: inline-block;
        width: $smallCellSizeMobile;
        height: $smallCellSizeMobile
}

.trio {
        display: inline-block;
        margin: 5px;
}

.trio-label {
        text-align: center;
        margin: 4px;
}

.target-container {
        display: inline-block;
}

.invisible {
        display: inline-block;
        border-color: white;
}

@media only screen and (min-width: $breakpointMobile) {
        .cell {
                width: $smallCellSizeDesktop;
                height: $smallCellSizeDesktop;
        }
        .invisible {
                width: $smallCellSizeDesktop;
                height: $smallCellSizeDesktop;
        }
}