@import 'src/styles/global/mixins';
@import 'src/styles/global/colors';
@import '../tutorial-animation-mixins.scss';
@import 'src/styles/global/margins';

.btn-container {
        margin-top: 30px;
        text-align: center;
}

.btn {
        color: $fontNegative;
        display: inline-block;
}

.container {
        @include absolute-centered();
}

.description.centered {
        text-align: center;
}

@media only screen and (max-width: $breakpointMobile) {
        .container {
                position: relative;
                transform: translate(0%, 0%);
                top: 0;
                left: 0;
                margin-top: 35px;
        }
        .description {
                padding: 0;
        }

}