<div class="step-element">
        <div class="container">
                <div class="description centered" [@slideInDescription]="_activeSlide">
                        {{descriptions[_activeSlide]}}
                </div>
                <div class="btn-container">
                        <button 
                                class="btn" 
                                routerLink="/program-window"
                                mat-flat-button
                                color="accent">
                                Try it 
                                <fa-icon [icon]="faAngleRight"></fa-icon>
                        </button>
                </div>
        </div>
</div>
