<div class="toprow-container">
        <button 
                (click)="onClickPlay()" 
                mat-button
                matTooltip="Run/Pause">
                <fa-icon [icon]="faPlay" class="play icon" [class.active]="!isRunning"></fa-icon>
                <fa-icon [icon]="faPause" class="pause icon" [class.active]="isRunning"></fa-icon>
        </button>
        <button 
                (click)="onClickReset()" 
                class="btn-reset"
                mat-button 
                matTooltip="reset">
                <fa-icon [icon]="faUndo" class="reset icon"></fa-icon>
        </button>
        <div class ="stats">generation: {{generation}}</div>
        <button class="btn-settings"
                mat-button 
                (click)="toggleController()" 
                matTooltip="show / hide">
                <div class="icon settings-label">
                        settings <fa-icon [icon]="faAngleLeft" class="settings icon" [class.active]="displayController()"></fa-icon>
                </div>
        </button>
        <button 
                class="btn-home"
                mat-button 
                routerLink="/home"
                mat-tooltip="to homepage">
                <fa-icon [icon]="faHome"></fa-icon>
        </button>
</div>