@import 'src/styles/global/colors';
@import '../tutorial-animation-mixins.scss';
@import 'src/styles/global/limits';

.btn-container {
    margin-top: 4em;
    text-align: center;
}

.btn {
    color: $fontNegative;
    display: inline-block;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tutorialText {
    @include tutorialText();
    margin-top: auto;
}
