@use '../../../../styles/global/colors';
@use '../tutorial-animation-mixins.scss' as animation;
@use '../../../../styles/global/limits';

.btn-container {
    margin-top: 4em;
    text-align: center;
}

.btn {
    color: colors.$fontNegative;
    display: inline-block;
}
