@import 'src/styles/global/margins';
@import 'src/styles/global/colors';
@import 'src/styles/global/typo';

.container-outer {
  padding-top: 1rem;
  padding-bottom: .5rem;
  font-size: $menuItemsFontSize;
  font-weight: $topbarFontWeight;
  text-align: center;
  font-family: 'Nunito Sans';
}

.container-inner {
        max-width: $maxWindowWidth;
        width: 100%;
        display: inline-block;
}

.github-icon {
  font-family: github-icon;
  font-size: 26px;
}

.left {
        float: left;
}

.right {
        float: right;
}

.btn {
        font-family: 'Nunito Sans';
        font-size: $fontsize_default;
}

@media only screen and (min-width: $breakpointMobile) {
  .container-outer {
    background: none;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 0;
  }
}