<div class="container-outer">
        <div class="container-inner">
                <button 
                        class="left btn"
                        mat-button 
                        routerLink="/home">Zellmemore.
                </button>
                <a 
                        class="github-icon link right"
                        mat-button 
                        href="https://bitbucket.org/f_holle/zellmemore/src/master/" 
                        matTooltip="project repository">g
                </a>
                <button 
                        class="right btn"
                        mat-button 
                        routerLink="/home"
                        [fragment]="'tutorial-anchor'">About
                </button> 
                <button 
                        class="right btn"
                        mat-button 
                        routerLink="/program-window">Explore
                </button>      
        </div>
</div>
<mat-divider></mat-divider>

