<div class="container-outer">
        <div class="container-inner">
                <div class="topic">Zellmemore</div>
                <div class="topic float-right">
                        <a>About</a>
                </div>
                <div class="topic float-right">
                        <a href="https://bitbucket.org/f_holle/zellmemore/src/master/" matTooltip="project repository">/git/</a>
                </div>
                <div class="topic float-right">
                        <a routerLink="/program-window">Explore</a>
                </div>
        </div>
</div>
