@use '../../styles/global/colors';
@use '../../styles/global/typo';

.clickable-area {
    background-color: colors.$backgroundUltraLight;
    display: grid;
    align-content: center;
    justify-content: center;

    // 'border-box' setting includes the padding in the total height
    box-sizing: border-box;
    border-radius: typo.$globalCornerRadius;
    padding: 5px;
    height: inherit;
    width: inherit;

    cursor: pointer;

    color: colors.$fontLight;

    &:hover {
        background-color: colors.$backgroundLight;
        color: colors.$fontNegative;
        transition: background-color 0.2s;
    }
}

.clickable-area-content {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    align-content: center;
    font-weight: typo.$fontweight_default;
}

.icon {
    padding: 0 4px;
}
