@import 'src/styles/global/mixins';
@import 'src/styles/global/colors';
@import '../tutorial-animation-mixins.scss';
@import 'src/styles/global/margins';

$cellSizeMobile: 30px;
$cellSizeDesktop: 80px;
$gapMobile: 15px;
$gapDesktop: 40px;
$cellContainerMobile: 35px;
$cellContainerDesktop: 85px;

.graphics-container {
        width: 100%;
        text-align: center;
}

.cell-container {
        display: inline-block;
        width: $cellContainerMobile;
        height: $cellContainerMobile;
        margin-left: $gapMobile;
        vertical-align: bottom;
        text-align: center;
        position: relative;
}

.cell{
        @include roundShape('black');
        display: inline-block;
        width: 90%;
        height: 90%; 
        position: absolute;
        bottom: 0;
        left: 0;
}

#cell1.active {
        animation: state-switch-trio 1.5s ease-in-out infinite alternate forwards;
}

#cell2.active {
        animation: state-switch-trio 1.5s ease-in-out infinite alternate-reverse forwards;
}

#cell3.active {
        animation: state-switch-trio 1.5s ease-in-out infinite alternate forwards;
}

/// step 1 animation ///

.background-circle {
        width: 0;
        height: 0;
        background: $accent;
}

.background-circle.active {
        animation: expanding-cricle 1s ease-out forwards;
}

@keyframes expanding-circle {
        from { width: 0%; height: 0%; }
        to { width: 100%; height: 100% }
}



@media only screen and (min-width: $breakpointMobile) {
        .cell {
                width: $cellSizeDesktop;
                height: $cellSizeDesktop;
        }

        .cell-container {
                width: $cellContainerDesktop;
                height: $cellContainerDesktop;
                margin-left: $gapDesktop;
        }
}

