<div class="step-element">
        <div class="graphics-container upper">
                <div class="cell-container">
                        <div class="background-circle" [class.active]="_activeDescription >= 1"></div>
                        <div class="cell" id="cell1" [class.active]="_activeDescription >= 1"></div>
                </div>
                <div class="cell-container">
                        <div class="cell" id="cell2" [class.active]="_activeDescription >= 1"></div>
                </div>
                <div class="cell-container">
                        <div class="cell" id="cell3" [class.active]="_activeDescription >= 1"></div>
                </div>
        </div>
        <div class="description" [@slideInDescription]="_activeDescription">{{descriptions[_activeDescription]}}</div>
</div>
