@use '../../../../styles/global/colors';
@use '../tutorial-animation-mixins.scss' as animation;

$stepMarkerWidth: 10px;

.controls {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 8px;
    min-width: $stepMarkerWidth;
}

.step-marker {
    @include animation.roundShape(white);
    display: inline-block;
    height: 10px;
    width: $stepMarkerWidth;
    background: colors.$accent;
    cursor: pointer;
    opacity: 0.6;
    border: none;
    margin: 5px;

    &.active {
        opacity: 1;
    }
}

.btn {
    border-radius: 10px;
    border: none;
    background: colors.$accent;
    color: colors.$fontNegative;
    cursor: pointer;
}
