@use '../../../../styles/global/colors';
@use '../tutorial-animation-mixins.scss' as animation;

:host {
    @include animation.tutorialStepContent();
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}
