@import 'src/styles/global/colors';
@import '../tutorial-animation-mixins.scss';

:host {
        @include tutorialStepContent();
}

.container {
        display: flex;
        flex-direction: column;
        margin-top: auto;
}

.tutorialText {
        @include tutorialText();
}