@import 'src/styles/global/colors';
@import './tutorial-animation-mixins.scss';
@import 'src/styles/global/limits';

:host {
    height: 100%;
}

.flex-container {
    display: flex;
    height: 100%;
    align-items: center;
    background: $backgroundUltraLight;
    z-index: -1;
}

.tutorial-content {
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.animation-container {
    height: 100%;
}

.step-element-wrapper {
    height: 100%;
}

.navigation {
    align-self: self-end;
    text-align: center;
    width: 100%;
    margin: 3em 0;
}
