<div class="step-element">
        <div class="upper container">
                <div 
                        class="multiple-cells-wrapper step01"
                        *ngIf="_activeSlide === 1">
                        <div 
                                *ngFor="let cell of cells; let i = index"
                                class="cell"
                                [@changeState]="cell.state"
                                (@changeState.done)="toggleState(i)"
                                ></div>
                </div>
                <div 
                        class="multiple-cells-wrapper step02"
                        *ngIf="_activeSlide === 0">
                        <div 
                                *ngFor="let cell of cells; let i = index"
                                class="cell"
                                [style.background]="cell.state === 'active' ? 'black' : 'white'"
                                ></div>
                </div>
        </div>
        <div class="description" [@slideInDescription]="_activeSlide">{{descriptions[_activeSlide]}}</div>
</div>

