@import 'src/styles/global/mixins';
@import 'src/styles/global/colors';

$largeCellSize: 75px;
$smallCellSize: 30px;

/// Outer container ///
.animation-container {
        position: relative;
}


.centered {
        @include centerByTranslationX();
}

/// shape and colour of elements ///
.cell {
        @include roundShape(black);
}

.cell-wrapper {
        display: inline-block;
}

.multiple-cells-wrapper {
        text-align: center;
}

.cell.large {
        width: $largeCellSize;
        height: $largeCellSize;
}

.cell.small {
        width: $smallCellSize;
        height: $smallCellSize;
}
