$smallCellSizeMobile: 8px;
$smallCellSizeDesktop: 15px;
$cellBorder: 1.5px;

$nextStepDelay: 0.3s;

@mixin absolute-centered() {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
}

@keyframes state-switch {
        0% {background: black; width: 100px; height: 100px};
        33% {background: black; width: 100px; height: 100px};
        50% {width: 105px; height: 105px}
        66% {background: none; width: 100px; height: 100px};
        100% {background: none; width: 100px; height: 100px};
}

@keyframes state-switch-trio {
        0% {background: black; height: 100%};
        40% {background: black; height: 100%};
        50%  {height: 97%}
        60% {background: white; height: 100%};
        100% {background: white; height: 100%};
}

.step-element {
        width: 100%;
        height: 100%;
        padding: 10%;
        box-sizing: border-box;
}

.upper {
        height: 70%;
}

