@import 'src/styles/global/mixins';
@import 'src/styles/global/colors';

$largeCellSize: 100px;
$smallCellSize: 30px;

:host ::ng-deep {
        height: 100%;
        position: relative;
}

/// Outer container ///
.animation-container {
        position: relative;
        height: 100%;
}


.centered {
        @include centerByTranslationX();
}

/// step format ///

.step-element {
        height: 100%;
        background: white;
        display: block;
        position: relative;
}

/// shape and colour of elements ///
.cell {
        @include roundShape(black);
}

.cell-wrapper {
        display: inline-block;
        animation: tiny-jump 1s ease-out 0.5s infinite;
}

.multiple-cells-wrapper {
        text-align: center;
}

.cell.large {
        width: $largeCellSize;
        height: $largeCellSize;
        animation: state-switch 1s ease-out 0.5s infinite alternate forwards;
}

.cell.small {
        width: $smallCellSize;
        height: $smallCellSize;
}

.btn {
        border: none;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background: $accent; 
        cursor: pointer;
        color: $fontNegative;
        text-align: center;
}

.btn-wrapper {
        width: auto;
        text-align: center;
}

.text {
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
}

@keyframes state-switch {
        0% {background: black};
        33% {background: black};
        66% {background: none};
        100% {background: none};
}

@keyframes tiny-jump {
        0% {transform: translateY(0)};
        66% {transform: translateY(5%)};
        100% {transform: translateY(0)};
}