@import 'src/styles/global/margins';

$smallCellSizeMobile: 8px;
$smallCellSizeDesktop: 18px;
$cellBorder: 1.5px;
$maxDescriptionWidth: 420px;

$nextStepDelay: 0.3s;

@mixin absolute-centered() {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
}

@keyframes state-switch {
        0% {background: black; width: 100px; height: 100px};
        33% {background: black; width: 100px; height: 100px};
        50% {width: 105px; height: 105px}
        66% {background: none; width: 100px; height: 100px};
        100% {background: none; width: 100px; height: 100px};
}

@keyframes state-switch-trio {
        0% {background: black; height: 100%};
        40% {background: black; height: 100%};
        50%  {height: 97%}
        60% {background: white; height: 100%};
        100% {background: white; height: 100%};
}

.step-element {
        width: 100%;
        height: 100%;
        padding: 2%;
        box-sizing: border-box;
        position: relative;
        overflow: scroll;
}

.upper {
        height: 50%;
}

.description {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        max-width: $maxDescriptionWidth;
        display: inline-block;
        text-align: left;
}

@keyframes expanding-circle {
        from { width: 90%; height: 90%; }
        to { width: 120%; height: 120% }
}

@keyframes expanding-circle-repeat {
        0% { width: 90%; height: 90%; }
        30% { width: 120%; height: 120%; }
        100% { width: 120%; height: 120% }
}

@keyframes expanding-circle-inner-repeat {
        0% { width: 90%; height: 90%; }
        20% { width: 90%; height: 90%; }
        80% { width: 120%; height: 120%; }
        100% { width: 120%; height: 120%; }
}

@media only screen and (min-width: $breakpointMobile) {
        .description {
                padding-left: 2rem;
                padding-right: 2rem;
        }
        .step-element {
                padding: 10%;
        }
        .upper {
                height: 60%;
        }
}

