<div class="fucking-container">
        <div class="animation-container" cdkScrollable>
                <div class="step-element-wrapper"[@slideInOut]>
                        <app-tutorial-step 
                                [content]="getStepComponent().component" 
                                [currentSection]="currentSection"
                                (completed)="addStep()">
                        </app-tutorial-step>
                </div>
        </div>
        <div class="step-control-wrapper">
                <app-tutorial-step-control 
                                [currentStep]="activeStep"
                                (currentStepChange)="activeStep = $event"
                                [steps]="steps"
                                [unlocked]="unlockedSteps">
                </app-tutorial-step-control>
        </div>
        <div class="direction-control">
                <div class="btn-wrapper" *ngIf="activeStep !== 0">
                        <button
                                mat-stroked-button
                                color="accent"
                                (click)="previous()">
                                <fa-icon [icon]="faAngleUp"></fa-icon>
                        </button>
                </div>
                <div class="btn-wrapper" *ngIf="activeStep !== steps.length - 1">
                        <button 
                                mat-stroked-button
                                color="accent"
                                (click)="advance()">
                                <fa-icon [icon]="faAngleDown"></fa-icon>
                        </button>
                </div>
        </div>
</div>