<div class="fucking-container">
        <div class="animation-container" cdkScrollable>
                <div *ngIf="_tutorialStep === 0"
                        class="step-element">
                        <div class="h-container">
                                <div class="text">
                                        <h2>What are cellular automata?</h2>
                                        <p>fucking description.</p>
                                </div>
                        </div>
                </div>
                <div 
                        *ngIf="_tutorialStep === 1"
                        class="step-element-wrapper"
                        [@slideInOut]>
                        <app-step01 (completion)="addStep()" [activeDescription]="_activeStepDescription"></app-step01>
                </div>
                <div
                        *ngIf="_tutorialStep === 2"
                        class="step-element-wrapper"
                        [@slideInOut]>
                        <app-step02 (completion)="addStep()" [activeDescription]="_activeStepDescription"></app-step02>
                </div>
                <div
                        *ngIf="_tutorialStep === 3"
                        class="step-element-wrapper"
                        [@slideInOut]>
                        <app-step04 (completion)="addStep()" [activeDescription]="_activeStepDescription"></app-step04>
                </div>
                <div
                        *ngIf="_tutorialStep === 4"
                        class="step-element-wrapper"
                        [@slideInOut]>
                        <app-step03 (completion)="addStep()" [activeDescription]="_activeStepDescription"></app-step03>
                </div>
                <div
                        *ngIf="_tutorialStep === 5"
                        class="step-element-wrapper"
                        [@slideInOut]>
                        <app-step05 (completion)="addStep()" [activeDescription]="_activeStepDescription"></app-step05>
                </div>
                <div 
                        *ngIf="_tutorialStep === 6"
                        class="step-element-wrapper"
                        [@slideInOut]>
                        <app-step06 (completion)="addStep()" [activeDescription]="_activeStepDescription"></app-step06>
                </div>
                <div
                        *ngIf="_tutorialStep === 7"
                        class="step-element-wrapper"
                        [@slideInOut]>
                        <app-step-final [activeDescription]="_activeStepDescription"></app-step-final>
                </div>
        </div>
        <div class="step-control-wrapper">
                <app-tutorial-step-control 
                                [_activeStep]="_tutorialStep" 
                                (activeStepChange)="tutorialStep = $event"
                                [steps]="steps"
                                [unlockedSteps]="_currentTotalSteps">
                </app-tutorial-step-control>
        </div>
        <div class="direction-control">
                <div class="btn-wrapper" *ngIf="_tutorialStep !== 0">
                        <button
                                mat-button
                                color="accent"
                                (click)="goBackInDescription()">
                                <fa-icon [icon]="faAngleUp"></fa-icon>
                        </button>
                </div>
                <div class="btn-wrapper" *ngIf="_tutorialStep !== steps.length">
                        <button 
                                mat-button
                                color="accent"
                                (click)=forwardDescription();>
                                <fa-icon [icon]="faAngleDown"></fa-icon>
                        </button>
                </div>
        </div>
</div>
