@import 'src/styles/global/colors';
@import 'src/styles/global/mixins';

@mixin animated-mouse-border($borderwidth) {
        border-color: $fontLight;
        border-radius: 15px;
        border-style: solid;
        border-width: $borderwidth;
        text-align: center;
}

.container {
        height: 430px;
        position: relative; // necessary for overlay!
}

.scrollable {
        height: 100%;
        overflow: scroll;
}

.animation-layer {
        @include overlay(rgba(0, 0, 0, 0.1));
        width: 100%;
        text-align: center;
        color: white;
}

.content {
        background: $accent;
        height: 700px;
        overflow: scroll;
}

.mousey-wrapper {        
        @include centerByTranslationX();
}

.mousey {
        @include animated-mouse-border(2px);
        display: inline-block;
        width: 30px;
        height: 50px;
        margin: 0;
}

.scrolley {
        @include animated-mouse-border(0);
        display: inline-block;
        width: 3px;
        height: 12px;
        background-color: $fontLight;
        position: relative;
        animation: scrollme 2.5s ease-out 1s infinite;
}

@keyframes scrollme {
        0% {top: 0; opacity: 1;}
        25% {top:0; opacity: 1;}
        50% {opacity: 1;}
        100% {top: 15px; opacity: 0;}
}