<div class="container" cdkScrollable #container>
        <div class="mousey-wrapper">
                <div class="mousey">
                        <div class="scrolley"></div>
                </div>
        </div>
        <div class="content" >Son of a gun. You're the greatest thing that has ever been or ever will be. You're special. You're so very special. Now let's put some happy little clouds in here. If we're gonna walk though the woods, we need a little path. Now then, let's play. See there how easy that is.

                We touch the canvas, the canvas takes what it wants. I guess that would be considered a UFO. A big cotton ball in the sky. You have to make these big decisions. I'm gonna start with a little Alizarin crimson and a touch of Prussian blue Brown is such a nice color. I spend a lot of time walking around in the woods and talking to trees, and squirrels, and little rabbits and stuff.
                
                Let's put some happy trees and bushes back in here. You don't have to spend all your time thinking about what you're doing, you just let it happen. There we go. There is no right or wrong - as long as it makes you happy and doesn't hurt anyone. Give him a friend, we forget the trees get lonely too. This is probably the greatest thing that's ever happened in my life.
                
                We can always carry this a step further. There's really no end to this. Don't fight it, use what happens. You can create the world you want to see and be a part of. You have that power. You can't have light without dark. You can't know happiness unless you've known sorrow.
                
                A little happy sunlight shining through there. Everything is happy if you choose to make it that way. All kinds of happy little splashes. You can create anything that makes you happy.
                
                No worries. No cares. Just float and wait for the wind to blow you around. It is a lot of fun. You can bend rivers. But when I get home, the only thing I have power over is the garbage. That's the way I look when I get home late; black and blue. Nothing's gonna make your husband or wife madder than coming home and having a snow-covered dinner. That's why I paint - because I can create the kind of world I want - and I can make this world as happy as I want it.
                
                Volunteering your time; it pays you and your whole community fantastic dividends. Let your heart be your guide. Trees get lonely too, so we'll give him a little friend. Put your feelings into it, your heart, it's your world.
                
                </div>
</div>
