@import 'src/styles/global/colors';
@import 'src/styles/global/margins';
@import 'src/styles/global/typo';
@import 'src/styles/global/limits';

$programWindowPadding: 30px;
$programWindowPadding_Mobile: .75rem;
$programWindowPaddingTop: 8px;

$toprowHeight: 43px;

body {
        background-color:  white;
}

.program-window {
        height: 100%;
        border: none;
        padding: $programWindowPadding;
        padding-bottom: 0;
        padding-top: $programWindowPaddingTop;
}

.program-window-canvas {
        width: 100%;
        min-width: $minCanvasWidth;
        height: calc(100vh - $controllerHeight);
        min-height: $minCanvasHeight;
        margin-top: 10px;
        display: flex;
        align-items: center;
}

.window-overlay {
        visibility: hidden;
        background: $overlay;
        opacity: 0;
        transition: opacity 0.2s ease-out;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;

        display: grid;
        align-content:normal;
        justify-items: center;

        padding-top: $toprowHeight + $programWindowPaddingTop;
        &.active {
                visibility: visible;
                opacity: 1;
                transition: opacity 0.2s ease-out;
                width: 100%;
                height: 100vh;
        }
}

@media only screen and (max-width: $breakpointSmallMenu) {
        .program-window {
                padding: $programWindowPadding_Mobile;
        }
}