body {
    background : #fff;
    
}

button {
    outline: none;
}

h1 {
    font-family: sans-serif; 
    font-size: 18px;
    margin-bottom: 10px;
}

#settings{
    display: inline-block;
}


#ruletextinput{
    display: inline-block;
    font-size: 2opx;
    outline: none;
    border: none;
    width: 50px;
}

#playbutton-container {
    display: inline-block;
}



#programmtext {
    padding-bottom: 100px;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    width: 700px;
}

#counts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1px;
}

#cellcountdisplay{
    justify-self: center;
}

#resetbutton-container{
    display: inline-block;
}

#generationdisplay{
    margin: 0;
}

#cell-number-tag {
    display: inline-flex;
    margin: 0;
}

#textrule
{
    justify-self: end;
}



/*Canvases*/
#defaultCanvas0 {
    box-shadow: 3px 3px 10px rgba(150,150,150,.5);
}

#defaultview {
    box-shadow: 3px 3px 10px rgba(150,150,150,.5);
}

#savediv{
    float: left;
    background-color: none;
}


.content {
    background-color: #FFFFFF;
    width: windowWidth;
    padding-left: 3.5%;
    padding-right: 3.5%;
    padding-top: 2%;
    font-size: 12px;  
    font-family: 'Nunito sans', sans-serif;
}

.canvascontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap : 5px;
    
}

#p5canvas
{
    position: relative;
}

#mouse-popup{
    position: absolute;
    left: 50%;
    top: 50%;
    
    padding: 10px;
    color: white;
    background: #939393;
    border-radius: 10px;
    -webkit-transform: translate(-50%, -50%);
    letter-spacing: 1px;
}



.infotext {
   display: inline-block;
    background-color: white;
    margin: 0px;
    font-size: 14px;
}

/* Menüleiste*/
.main-button{
    display:inline-block;
    width: 100px;
    height: 30px;
    margin-bottom: 50px;
    padding-top: 2px;
    text-align: center;
    background-color: #2d2d2d;
    color: white;
    text-decoration:none;
    border: none;
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 1px;
    font-style:normal;
    
}

.main-button:hover{
    background-color: #535353;
}

#play {
    width: 50;
}

#reset{
    width: 50px;
}


/* Buttons */
.nofill-button{
    width: 25px;
    height: 25px;
    border: none;
    padding-right: 25px;
    font-weight: normal;
    font-size: 20px;
    background-color: white;
    
    float: right;
    text-align: center;
}

.nofill-button:hover{
    font-size: 22px;
}


/*reset-dropdown*/
.dropdown{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: lighter;
    font-kerning: normal;
    letter-spacing: 1px;
    
}
.dropdown:hover .dropdown-content {
    display: grid;
    width: 570px;
    grid-template-columns: 20% 80%;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #2d2d2d;
    box-shadow: 0px 5px 10px rgba(100,100,100,1);
    color: white; 
    z-index: 1;
}

.dropdown-element{
    padding-left: 15px;
    margin-top: 10px;
    padding-bottom: 8px;
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: #535353;    
}

#dropdown-button{
    margin-bottom: 0px;
}

.radio-container{
    margin-right: 15px;
}

#cellnumber{
margin-bottom: 4px;
}


#speed{
    margin: 0;
    margin-right: 0px;
    margin-bottom: 5px;
}

#arraytogglelabel{
    margin-top: 5px;
}
.label{
    position: absolute;
    margin-left: 10px;
}


/*Regelwerk*/
#rule-label{
    display: inline-block;
}
#rule {
    
    background: none;
    border: none;
    display: inline-block;
    grid-column-start: 3;
    grid-column-end: 5;
    margin-right: 30px;
}

.triplet-container{
    display:table;
    float:left;
    justify-content: center;
    margin-right: 20px;
    margin-top: 5px;
}

.triplet-label{
    display: table-row;

}

.rulecheck{
    display: inline;
}

.active{
    color: #2c98f0;
}

.checkbox-container{
    float: center;
    text-align: center;
    display: table-row;
}
.arrow{
    text-align: center;
    margin-top: -3px;
    font-weight: bold;
    font-size: 14px;
}


/*Radio Buttons*/



/*Select*/
.option{
    display: inline-block;
}

/* Slider und Slider-*/
.slider{
    -webkit-appearance: none;  
    width:50%;
    appearance: none;
    height: 15px; 
    background: #939393; 
    outline: none; 
    opacity: 0.9; 
    -webkit-transition: opacity;
    transition: opacity;
    margin:0;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 15px; 
    height: 15px; 
    background: white; 
    cursor: pointer; 
}

.description{
    padding-top: 120px;
    line-height: 24px;
}



.switch {
  position: relative;
  display: inline-block;
    margin-top: 5px;
  width: 35px;
  height: 15px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}


.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0px;;
  left: 0;
  right: 0;
  bottom: 0;
 opacity: 0.9;
  background-color: #939393;

  -webkit-transition: .4s;
  transition: .4s;
}

.toggle-slider:hover{
    opacity: 1;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 0px;
  bottom: 0.5px;
  background-color: #dddddd;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .toggle-slider {
  background-color: #535353;
}

input:focus + .toggle-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .toggle-slider:before {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #2d2d2d;    
    color: lightgray;
    padding-left: 50px;

    
}

.footer-text{
    font: 11px;
    color: lightgray;
    font-style: normal;
    font-size: 14px;
    text-decoration: none;
    position:absolute;
    top: 30%;}
    

.footer-text :hover{
    color:white;
}
