@import 'src/styles/global/colors';
@import 'src/styles/global/margins';
@import 'src/styles/global/typo';


body {
        background-color:  white;
}

.container {
        height: 100%;
        border: none;
        padding: $globalMargin;
        padding-bottom: 0;
        padding-top: $globalTop;
}

/* /// WIDGET FRAME AREA /// */
.canvas-display {
        width: 100%;
        margin-top: 10px;
        min-height: $widgetAreaMinHeight;
        height: calc(95vh - 155px);
}
 /* /// SELECTION MENU /// */
.menu {
        position: absolute;
        bottom: 0;
        padding: $plusButtonPadding;
        padding-bottom: 0;
        margin: $plusButtonMargin auto;
        left: 23%;
        right: 23%;
        max-width: $selectMenuMaxWidth;
        transition: bottom 0.2s ease-in-out;
        z-index: 1000;
}

.menu.active {
        background-color: white;
        bottom: 0;
        margin-bottom: 0;
        transition: bottom, paddingbottom 0.2s ease-in-out;
        border-top-left-radius: $globalCornerRadius;
        border-top-right-radius: $globalCornerRadius;
}

.menu-content {
        max-height: 0;
        transition: max-height 0.3s ease-out;
        overflow: hidden;
        display: block;
        padding: 0 $globalMargin 0 $globalMargin;
        z-index: 1000;
}

.menu-content.active {
        max-height: $selectMenuActiveHeight;
        transition: max-height 0.3s ease-out;
}

/* for positioning the "+"-button in the center of the screen */
.button-container {
        text-align: center;
        margin-bottom: $plusButtonMargin;
}

.dropdown-btn {
        position: relative;
        display: inline-block;
        background-color: rgb(30, 30, 30);
        transition: background-color 0.1s linear;
        width: $plusButtonSize;
        height: $plusButtonSize;
        border-radius: 50%;
        border-style: none;
        cursor: pointer;
}

.dropdown-btn:active {
        top: 1px;
        transition: all 0.2s ease-in-out ;
}

.dropdown-btn:hover {
        background-color: $accent;
        transition: all 0.1s linear;
}

.plus-icon {
        display: inline-block;
        color: $fontNegative;
        font-size: 20px;
        -webkit-transform:rotate(10deg);
        -moz-transform:rotate(10deg);
        -o-transform:rotate(10deg);
        transform: rotate(-45deg);
        transition: all 0.2s ease-in;
}

.plus-icon.active {
        
        transform:rotate(0deg);
        transition-property: all;
        transition-duration: 0.2s;
        transition-timing-function: ease-in;
}

.plus-icon-container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
}

.window-overlay {
        visibility: hidden;
        background: $overlay;
        opacity: 0;
        transition: opacity 0.2s ease-out;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
}
.window-overlay.active {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.2s ease-out;
        width: 100%;
        height: 100vh;
}

footer {
        position: absolute;
        bottom: $globalMargin;
        transform: translateY(100%); /* move element below screen */
        display: block;
        width: 100%;
        z-index: 0;
}


@media only screen and (max-height: $breakpointMobile) {
        .menu {
                max-width: 100%;
                left: 0;
                right: 0;
        }
        
        .menu-content.active {
                max-height: $selectMenuActiveHeightMobile;
        }
        .menu-content {
                padding: 0 $globalMarginMobile 0 $globalMarginMobile;
        }
}




