<div class="interface">
        <button (click)="this.automaton.toggleLoop()" class="btn inline">Play</button>
        <button (click)="this.automaton.reset()" class="btn inline">Reset</button>
        <div class ="container" (mouseover)="this.toggleController()" (mouseleave)= "this.toggleController()" >
                <span class="btn inline" >settings</span>
                <app-automaton-controller *ngIf="controllerDisplayed"></app-automaton-controller>
        </div>
</div>
<p>{{automaton.cellnumber}} cells</p>
<p>rule #{{converter.binaryToDecimal(automaton.ruleset)}}</p>
<!-- The Visualizatoion Display Area -->
<section class="canvas-display">
        <div>
                <!-- Widgets go here: -->
                <app-widget-frame></app-widget-frame>
        </div>
</section>
<div class="menu">
        <button (click)="toggleSelection()" class="btn">Add Widget</button>
        <app-visualization-selection *ngIf="selectionDisplayed"></app-visualization-selection>
</div>
