@import 'src/styles/global/colors';
@import 'src/styles/global/margins';

.settings-unit {
        display: flex;
        max-width: 300px;
        margin: 0;
        text-align: center;
}

.slider-wrapper {
        height: $toprowHeight;
        display: flex;
}

.select-wrapper {
        display: flex;
}

.tag {
        display: inline-block;
        position: relative;
        margin-right: 10px;
}

:host {
        margin: auto;
}