@use '../../../styles/global/colors';
@use '../../../styles/global/typo';
@use '../../../styles/global/limits';

.container-outer {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-size: typo.$menuItemsFontSize;
    font-weight: typo.$topbarFontWeight;
    text-align: center;
    font-family: 'Nunito Sans';
}

.github-icon {
    font-family: github-icon;
    font-size: 26px;
}

.btn {
    font-family: 'Nunito Sans';
    font-size: typo.$fontsize_default;
    &.left {
        margin-right: auto;
    }
}

@media only screen and (min-width: limits.$breakpointMobile) {
    .container-outer {
        background: none;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 0;
    }
}
