<div class="container-outer">
        <button 
                class="left btn"
                mat-button 
                routerLink="/home">Zellmemore.
        </button>
        <a 
                class="github-icon"
                mat-button 
                href="https://bitbucket.org/f_holle/zellmemore/src/master/" 
                matTooltip="project repository">g
        </a>
        <button 
                class="btn"
                mat-button 
                routerLink="/home"
                [fragment]="'tutorial-anchor'">About
        </button> 
        <button 
                class="btn"
                mat-button 
                routerLink="/program-window">Explore
        </button>      
</div>
<mat-divider></mat-divider>