@import 'src/styles/controller/controller';
@import 'src/styles/global/colors';
@import 'src/styles/global/material';

.rule-label {
        display: inline-block;
        margin-right: 10px;
        max-width: 40px;
}

.angle {
        display:inline-block;
        transform: rotate(0deg);
        transition: transform 0.2s ease-out;
        padding: 2px;
        cursor: pointer;
}

.angle.active {
        transform: rotate(-90deg);
        transition: transform 0.2s ease-out
}

.dropdown {
        max-height: $controllerHeight;
        opacity: 1;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
}

/* the single checkboxes */
.checkbox-outer {
        display: inline-block;
        max-width: 200px;
        margin: 0 10px 0 10px;
}

.checkbox-wrapper {
        display: block;
        text-align: center;
}

.checkbox-wrapper.icons {
        font-family: 'binary-marbles';
        font-size: 13px;
        color: $fontLight;
}


.cell-icon {
        color: $fontLight;
        font-weight: 200;
}

.cell-icon.active {
        color: $accent;
        font-size: 13px;
}