/* Custom Angular Material Color Theme */
@import "./styles/global/fonts.css";
@import "./styles/global/zellmemore-mat-theme";
/* You can add global styles to this file, and also import other style files */

body {
        font-family: 'Nunito Sans';
        font-size: 13px;
        margin: 0;
}

html {
        /* prevents the scrollbar from adding up to the page width */
        overflow-y: scroll;
}

footer {
        margin: 0;
}

a:hover, a:visited, a:link, a:active, a:any-link {
        text-decoration: none;
        color: inherit;
}