/*  */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/* You can add global styles to this file, and also import other style files */
@font-face {
        font-family: binary-marbles;
        src: url(assets/fonts/custom-icons/font/binary-marbles.ttf) format("truetype");
}

body {
        font-family: sans-serif;
        margin: 0;
}

html {
        /* prevents the scrollbar from adding up to the page width */
        overflow-y: scroll;
}

footer {
        margin: 0;
}