/* Custom Angular Material Color Theme */
@import "./styles/global/fonts.css";
@import "./styles/global/zellmemore-mat-theme";
@import "./styles/global/typo";
@import 'src/styles/global/margins';
@import 'src/styles/global/limits';

body {
        font-family: 'Nunito Sans';
        font-size: $defaultMobile;
        margin: 0;
}

html {
        /* prevents the scrollbar from adding up to the page width */
        overflow-y: scroll;
}

footer {
        margin: 0;
}

a:hover, a:visited, a:link, a:active, a:any-link {
        text-decoration: none;
        color: inherit;
}

@media only screen and (min-width: $breakpointMobile) {
        body {
                font-size: $fontsize_default;
        }
}