@use '../../../../styles/global/colors';
@use '../tutorial-animation-mixins.scss' as animation;

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.headline {
    margin: auto;
}
