:host {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: white;
}

.empty {
        /* spans the whole width */
        grid-column: 1 / -1;
}

.animated {
        display: none;
        text-align: center;
}

.animated.active {
        display: block;
        animation-duration: 0.75s;
        animation-name: bounce;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
        animation-timing-function: ease-in;
}

@keyframes bounce {
        from {
                -transform: (0, 0);
                -webkit-transform: translate(0, 0);
                -moz-transform: translate(0, 0);
                -ms-transform: translate(0 ,0);
        }
        to {
                -transform: (0, 10px);
                -webkit-transform: translate(0, 10px);
                -moz-transform: translate(0, 10px);
                -ms-transform: translate(0, 10px);
                
        }
}