<app-header class="header"></app-header>
<div class="outer-container">
    <div class="section top">
        @if (textContent$ | async; as content) {
            <h1 class="landing-text colored">{{ content.landing }}</h1>
            <h3 class="landing-text">
                {{ content.about }}
            </h3>
        }
        <div class="landing-link-wrapper">
            <div class="landing-link">
                <a routerLink="/program-window"
                    >Explore <fa-icon [icon]="faArrowAltCircleRight"></fa-icon
                ></a>
            </div>
            <div class="landing-link">
                <a routerLink="/home" [fragment]="'tutorial-anchor'"
                    >What are Cellular automata? <fa-icon [icon]="faArrowAltCircleRight"></fa-icon
                ></a>
            </div>
        </div>
    </div>
    <section class="section">
        <h1>About Elementary Cellular Automata</h1>
        <mat-divider></mat-divider>
        <div class="tutorial-outer-wrapper">
            <div class="app-tutorial-container">
                <app-tutorial-animation class="content"></app-tutorial-animation>
            </div>
        </div>
    </section>
    <section class="section last" id="tutorial-anchor"></section>
    <footer><app-custom-footer></app-custom-footer></footer>
</div>
