@import 'src/styles/global/margins';
@import 'src/styles/global/colors';
@import 'src/styles/global/typo';

$tutorialOffsetMobile: 15px;
$tutorialOffsetDesktop: 35px;
$paddingSides: 4rem;
$paddingSidesMobile: 2.5rem;

.outer-container {
        max-width: $maxWindowWidth;
        margin: auto;
        margin-top: 0;
        text-align: center;
}

.landing-text {
        font-weight: 400;
        margin-top: 70px;
}

.landing-link {
        font-size: $homepageLinksMobile;
        font-weight: bold;
        margin-top: 10px;
}

.tutorial-wrapper 
/// v Basti wars
{
        max-width: 800px;
        width: 100%;
        text-align: center;
        display: inline-block;
        box-sizing: border-box;
}

.tutorial-outer-wrapper {
        padding-left: $tutorialOffsetMobile;
        padding-right: $tutorialOffsetMobile;
        text-align: center;
}


.landing-link-wrapper {
        margin-top: 50px
}

.section {
        padding-bottom: $sectionGap;
        padding-left: $paddingSidesMobile;
        padding-right: $paddingSidesMobile;
        border-bottom-style: solid;
        box-sizing: border-box;
        max-width: $maxTextWidth;
        width: 100%;
        text-align: left;
        display: inline-block;
}

@media only screen and (min-width: $breakpointMobile) {
        .section {
                padding-left: $paddingSides;
                padding-right: $paddingSides;
        }
        .landing-text {
                margin-top: 110px;
        }
        .landing-link {
                font-size: $homepageLinks;
        }
        .landing-link-wrapper {
                margin-top: 50px
        }
        .outer-container {
                margin-top: 50px;
        }
}