@import 'src/styles/global/margins';
@import 'src/styles/global/colors';
@import 'src/styles/global/typo';

$tutorialOffsetMobile: 15px;
$tutorialOffsetDesktop: 35px;
$paddingSides: 3rem;
$paddingSidesMobile: 2.5rem;

body {
        font-size: $defaultMobile;
}

.outer-container {
        margin: auto;
        margin-top: 0;
        text-align: center;
        line-height: 1.6;
}

.landing-text {
        font-weight: 400;
        margin-top: 50px;
        margin-bottom: 0px;
}

.landing-text.colored {
        color: $accent;
}

.landing-link {
        font-size: $homepageLinksMobile;
        font-weight: bold;
        margin-top: 7px;
}

.landing-link-wrapper {
        margin-top: 30px
}

.tutorial-wrapper 
/// v Basti wars
{
        max-width: 800px;
        width: 100%;
        text-align: center;
        display: inline-block;
        box-sizing: border-box;
}

.tutorial-outer-wrapper {
        padding-left: $tutorialOffsetMobile;
        padding-right: $tutorialOffsetMobile;
        text-align: center;
        background: $backgroundUltraLight;
}

.section {
        padding-bottom: $sectionGap;
        padding-left: $paddingSidesMobile;
        padding-right: $paddingSidesMobile;
        border-bottom-style: solid;
        border-bottom-width: $borderWidth;
        box-sizing: border-box;
        max-width: $maxTextWidth;
        width: 100%;
        text-align: left;
        display: inline-block;
}

.section.top {
        border-top-width: $borderWidth;
        border-top-style: solid;
}

.section.last {
        border-bottom-style: none;
}

@media only screen and (min-width: $breakpointMobile) {
        .section {
                padding-left: $paddingSides;
                padding-right: $paddingSides;
        }
        .landing-text {
                margin-top: 50px;
        }
        .landing-link {
                font-size: $homepageLinks;
        }
        .landing-link-wrapper {
                margin-top: 30px
        }
        .outer-container {
                margin-top: 40px;
        }
}