@import 'src/styles/global/margins';
@import 'src/styles/global/typo';
@import 'src/styles/global/colors';

.mat-mdc-card {
        margin: $selectionTileMargin;
        width: $matCardMaxWidth;
        display: inline-block;
}

.image-container {
        position: relative;
}

.overlay {
        background: $overlay;
        position: absolute;
        top: 0;
        bottom: 5px;
        left: 0px;
        width: 100%;
        opacity: 0;
        transition: opacity 0.2s ease-out;       
}

.overlay:hover {
        opacity: 1;
        transition: opacity 0.2s ease-out;
        cursor: pointer;
}

.thumbnail {

        width: 100%;
}

.btn {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 0.2s ease-out;
        z-index: 1;
        color: $highlight;
}

.icon {
        font-size: $iconSize;
}

.check-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        text-align: right;
}
.check {
        visibility: hidden;
        color: $highlight;
        margin: 5px 5px 5px 5px;
        display: inline-block;
}

.check.active {
        visibility: visible;
}