.label {
        display: inline-block;
        margin-right: 10px;
        max-width: 40px;
}

.checkbox-outer {
        display: inline-block;
        max-width: 200px;
        margin: 0 10px 0 10px;
}

.checkbox-wrapper {
        display: block;
        text-align: center;
}

.checkbox-wrapper.icons {
        font-family: 'binary-marbles';
        font-size: 13px;
}


.cell-icon {
        color: white;
}

.cell-icon.active {
        color: rgb(255, 215, 64);
        font-size: 13px;
}